@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');

body {
  font-family: Roboto;
}

.Playwrite {
  font-family: "Playwrite AU SA";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 212 33% 0%;
    --foreground: 212 15% 98%;
    --muted: 212 5% 13%;
    --muted-foreground: 212 12% 73%;
    --popover: 212 33% 0%;
    --popover-foreground: 212 15% 98%;
    --card: 212 33% 0%;
    --card-foreground: 212 15% 98%;
    --border: 212 9% 13%;
    --input: 212 9% 13%;
    --primary: 212 70% 22%;
    --primary-foreground: 212 70% 82%;
    --secondary: 212 10% 9%;
    --secondary-foreground: 212 10% 69%;
    --accent: 212 15% 19%;
    --accent-foreground: 212 15% 79%;
    --destructive: 17 96% 52%;
    --destructive-foreground: 0 0% 100%;
    --ring: 212 70% 22%;
    --chart-1: 212 70% 22%;
    --chart-2: 212 10% 9%;
    --chart-3: 212 15% 19%;
    --chart-4: 212 10% 12%;
    --chart-5: 212 73% 22%;
    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
